#masthead {
    position: fixed;
    width: 100%;
    top: 0;   
    left: 0;
}

.site-branding-search-menuIcon-wrapper{
    background-color:#b1040e;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: inline-block;
    width: 100%;
    text-align: right;
}

#primary-menu{
    background: #F4F4F4;
    
}

#primary-menu li{
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

ul#menu-header-menu  {
    background: #F4F4F4;
}


#menu-header-menu > li> a{
    padding: 0.625em 1em;
    outline-offset: -4px;
    font-size: .7555em;     
}

.site-branding{
    position: relative;    
    /* display: inline-block; */
    float: left;    
    font-weight: 400;
    line-height: 1.25em;
    margin-left: 20px;
   
}


#search-toggle , #menu-toggle{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: inherit;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    
    /* #site-navigation {
        position: relative;
        top: -16px;
      } */

    #primary-menu{
        display: none;
        grid-template-columns: repeat(2,minmax(200px, 1fr));
        grid-gap: 0.02px;
        z-index: 900;
        margin: 0;
        padding: 0;
        
    }

    #primary-menu li{
        list-style: none;
        background-color: #F4F4F4;
        padding: 15px 50px 15px 50px;
        z-index: 900;
    }

    #primary-menu li a {
        color: #000;
    }

    .site-title > a:nth-child(1){
        font-size: 1.3333333333em;
        top:0.4583333333em;
    }
    
    #menu-header-menu{       
        padding: 0;
       /*  display: -webkit-box;
        display: -ms-flexbox; */
        display: none;
        /* -webkit-box-orient: horizontal;
        -webkit-box-direction: normal; */
        /* -ms-flex-direction: row; */
        flex-direction: row;
        /* -webkit-box-pack: center;
        -ms-flex-pack: center; */
        justify-content: center;
        margin: 0 auto;
        /* -ms-flex-wrap: wrap; */
        flex-wrap: wrap;
        min-width: 320px;
        max-width: 100%;
        text-align: center;      
      
    }

    #menu-header-menu > li> a{
        color:#000;
    }

    #search-toggle , #menu-toggle{
        margin: 15px 10px 10px 10px;
    }

    /* #menu-header-menu > li> a {
        padding: 0.625em 1em;
        outline-offset: -4px;
    } */
  

    #menu-header-menu li{
        list-style: none;
        z-index: 900;
        padding: 12px;
    }

@media (min-width:576px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
   
    #primary-menu{
        display: none;
        grid-template-columns: repeat(4,minmax(100px, 1fr));
        grid-gap: 1px;
        
    }
    
    #primary-menu li{
        list-style: none;
        background-color: #2196F3;
        padding: 5px 10px 5px 10px;
    }

    #menu-header-menu{  
        display: none;
    }

}


@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    #primary-menu{
        display: grid;
        grid-template-columns: repeat(8,minmax(100px, 1fr));
        grid-gap: 0.1px;
        padding-left: calc(50% - 715px);
        padding-right: calc(50% - 715px);
    }
    
    #primary-menu li{
        list-style: none;
        background-color: #2196F3;
        padding: 5px 10px 5px 10px;
    }

    .site-title > a:nth-child(1){
        position: relative;
        font-size: 1.5555555556em;
        top: -0.2em;
    }

    .menu-toggle{
        display: none;
    }

    nav#site-navigation {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        top: -50px;
        justify-content: end;
    }

    ul#menu-header-menu {
        background: transparent;
        display: flex;
        justify-content: flex-end;
        margin-right: 4.5em;
    }
  
    #masthead > section > div > p > a::after{
        content: " University";
    } 
  
    #menu-header-menu > li> a{
        color: #F4F4F4;
    } 
    
}

/* 
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1281px) { 
    hi-res laptops and desktops 
} 
*/